/* Style the list */
ul.panko {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;

  /* Display list items side by side */
  li {
    display: inline;
    font-size: 18px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  li a {
    color: $link-color;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  li a:hover {
    color: $link-hover-color;
    text-decoration: underline;

  }

}
